/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    font-family: 'Nerko One', cursive;
    letter-spacing: .1rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0d8c8;
}

.container {
    width: 50rem;
    min-height: 38rem;
    position: relative;
    background-color: #fce7bf;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
}

.banner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: #fff;
    z-index: 3;
    position: absolute;
    text-align: center;
    transition: all 1s;
    padding-bottom: 10rem;
}

.banner .signup-header {
    transform: translateX(-50rem);
    transition: all 1s;
}

.banner .signup-header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.banner .signup-header p {
    font-size: 1.5rem;
}


button[data-type="inverted"] {
    border: 1px solid #fff;
    background-color: transparent;
    z-index: 2;
}

.form {
    transition: all 1s;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h1 {
    font-size: 2.5rem;
    color: rgb(204, 0, 255);
}

.form p {
    font-size: 1.2rem;
    margin-block: 1rem;
    color: #555;
}

.socials {
    display: flex;
}

.socials .social-icons {
    margin-inline: 1rem;
    width: 3rem;
}

.input-field {
    padding-block: .5rem;
    position: relative;
}

.input-field input {
    width: 18rem;
    height: 3rem;
    padding: 0 0 0 2.5rem;
    border: none;
    border-radius: 12px;

}

.input-field .input-icons {
    position: absolute;
    top: 1rem; left: .2rem;
    width: 1.8rem;
}

button {
    width: 9rem;
    height: 3rem;
    background-color: #C850C0;
    color: #fff;
    border-radius: 100vmax;    
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

.change .banner {
    width: 40%;
}
.change .form {
    padding-left: 25rem;
}
.change .signup-header {
    transform: translateX(0);
}


@media (max-width: 50rem) {
    .container {
        max-width: 20rem;
        min-height: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form {
        padding: 0;
    }

    .banner {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .change .form {
        padding-left: 0;
    }
    .change .banner {
        transform: translateX(-100%);
        visibility: hidden;
    }
     .banner h1, .banner p {
        display: none;
    }
}